@font-face {
  font-family: "NeoSansProRegular";
  src: url("../fonts/NeoSansProRegular.eot");
  src: url("../fonts/NeoSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProRegular.woff") format("woff"), url("../fonts/NeoSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NeoSansProBold";
  src: url("../fonts/NeoSansProBold.eot");
  src: url("../fonts/NeoSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProBold.woff") format("woff"), url("../fonts/NeoSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body {
  font: 14px NeoSansProRegular, Tahoma, arial, sans-serif;
  color: #303030;
  background-color: #faf9f7;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: none;
}
.no-padding {
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
/* start header */
.icon {
  display: inline-block;
  margin-right: 5px;
  max-width: 20px;
  max-height: 20px;
}
.icon img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
#header_top {
  background-color: #e6e6e6;
  line-height: 30px;
}
.header_email,
.header_phone {
  margin: 0 10px;
}
.header_email a,
.header_phone a {
  color: #333;
}
#header_nav {
  background: #5b453d url("/img/header-pattern.png") repeat-x;
  color: #f8e8d8;
  height: 60px;
  font-size: 16px;
  border-bottom: 1px solid #e1e1e1;
}
.nav-container {
  position: relative;
}
.header_search {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 7%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header_search.active {
  width: 82%;
  visibility: visible;
}
.form-search {
  width: 100%;
  height: 100%;
  padding: 9px 0;
  position: relative;
}
.form-search #close-search {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px;
  font-size: 22px;
  cursor: pointer;
  color: #5b453d;
}
.input-search {
  float: left;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px 20px;
  padding-left: 50px;
}
button.input-submit {
  color: #303030;
  position: absolute;
  font-size: 22px;
  left: 0;
  height: 41px;
  width: 41px;
  z-index: 1;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 7px;
}
button.input-submit:acive,
button.input-submit:focus {
  border: none;
  outline: none;
}
.nav-item {
  float: left;
  margin: 0 15px;
}
.logo {
  margin-top: 8px;
  display: inline-block;
}
.logo >div {
  color: #f5e7d7;
}
.logo_header {
  text-transform: uppercase;
  font-family: NeoSansProBold, Tahoma, Arial, sans-serif;
}
.search_triger {
  cursor: pointer;
  padding: 8px;
  margin-top: 8px;
  font-size: 22px;
}
ul.link_group {
  overflow: hidden;
  margin-top: 9px;
}
ul.link_group li {
  float: left;
  font-size: 16px;
}
ul.link_group li .link {
  border: 1px solid #f5e7d7;
  border-right: none;
  padding: 10px;
  display: inline-block;
  color: #f5e7d7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
ul.link_group li .link:hover {
  background-color: rgba(47,30,25,0.43);
}
ul.link_group li:last-child .link {
  border-right: 1px solid #f5e7d7;
  border-radius: 0 7px 7px 0;
}
ul.link_group li:first-child .link {
  border-radius: 7px 0 0 7px;
}
.nav li {
  display: block;
  float: left;
}
.nav li a {
  display: inline-block;
  line-height: 59px;
  text-transform: capitalize;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: #f5e7d7;
}
.nav li a.active {
  color: #fff;
  font-weight: bold;
}
.nav li a:hover {
  background-color: rgba(47,30,25,0.43);
}
#hero {
  color: #fff;
  padding: 0;
}
.hero_img {
  background: url("/img/home_01.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 580px;
  max-height: 580px;
  position: relative;
}
.nets {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.social li {
  margin: 20px;
}
.net_link {
  color: #fff;
  font-size: 26px;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.net_link:hover,
.net_link:active,
.net_link:focus {
  color: #fff;
}
.net_link:hover {
  background-color: rgba(255,255,255,0.3);
}
.page_title {
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 27%;
  color: #fff;
}
.page_title .title {
  font-family: NeoSansProBold, Tahoma, Arial, sans-serif;
  font-size: 45px;
  text-shadow: 0 0 10px rgba(0,0,0,0.55);
}
.page_title .description {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 60px;
  text-shadow: 0 0 6px rgba(0,0,0,0.55);
}
.page_title .slogan {
  font-family: NeoSansProRegular, Tahoma, Arial, sans-serif;
  font-size: 42px;
}
.my-btn {
  padding: 20px 25px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: NeoSansProRegular, Tahoma, Arial, sans-serif;
  font-weight: bold;
  background: #ff5859;
  background: -webkit-linear-gradient(top, #ff5859 0%, #d43334 100%);
  background: -moz-linear-gradient(top, #ff5859 0%, #d43334 100%);
  background: -o-linear-gradient(top, #ff5859 0%, #d43334 100%);
  background: -ms-linear-gradient(top, #ff5859 0%, #d43334 100%);
  background: linear-gradient(to bottom, #ff5859 0%, #d43334 100%);
  -webkit-box-shadow: 0 7px 13px rgba(0,0,0,0.4), 0 6px 0 rgba(0,0,0,0.4);
  box-shadow: 0 7px 13px rgba(0,0,0,0.4), 0 6px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.my-btn.simple {
  background: #ff5859;
  padding: 15px 20px;
}
.my-btn.simple:hover,
.my-btn.simple:active {
  color: #fff;
  background: #ff2526;
}
.my-btn.ghost {
  background: transparent;
  border: 1px solid #ff5859;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ff5859;
  padding: 25px 20px;
  width: 100%;
}
.my-btn.ghost:hover,
.my-btn.ghost:active {
  background: transparent;
  color: #ff2526;
  border: 1px solid #ff2526;
}
.my-btn:hover {
  color: #fff;
  background: -webkit-linear-gradient(top, #d43334 0%, #d43334 100%);
  background: -moz-linear-gradient(top, #d43334 0%, #d43334 100%);
  background: -o-linear-gradient(top, #d43334 0%, #d43334 100%);
  background: -ms-linear-gradient(top, #d43334 0%, #d43334 100%);
  background: linear-gradient(to bottom, #d43334 0%, #d43334 100%);
}
.sep {
  height: 4px;
  width: 170px;
  background-color: #ff5859;
  display: inline-block;
  margin: 15px 0 25px;
  border-radius: 3px;
}
section {
  background: #fff;
  padding: 30px;
}
.arr_top {
  position: relative;
}
.arr_top:after {
  display: block;
  position: absolute;
  content: '';
  width: 56px;
  height: 56px;
  border-radius: 50%;
  top: -30px;
  left: 50%;
  background: #fff url("/img/svg/arr-d.svg") no-repeat 50%;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  background-size: 25%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.arr_top.border:before {
  display: block;
  position: absolute;
  content: '';
  width: 62px;
  height: 62px;
  border-radius: 50%;
  top: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  border: 3px solid #ff5859;
  border-top-color: transparent;
  border-right-color: transparent;
}
.section-title {
  padding: 20px;
  font: 33px NeoSansProBold, Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  color: #303030;
  text-align: center;
}
/*end header */
/* start service */
.service-item {
  margin-bottom: 55px;
  min-height: 310px;
}
.service-title {
  margin: 0;
}
.service-title span {
  font-family: NeoSansProBold, Tahoma, Arial, sans-serif;
}
.service-list {
  margin: 15px 0;
}
.service-list .service-list-item {
  margin: 10px 0;
  font-size: 14px;
}
.more-link {
  color: #8c8c8c;
}
.more-link span {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.more-link:hover {
  color: #8c8c8c;
}
.more-link:hover span {
  margin-left: 5px;
}
.bnt-container {
  max-width: 85%;
  margin: 0 auto;
}
.icon-svg {
  width: 3.5em;
  height: 3.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 7px;
  display: inline-block;
}
/* end service */
/* start portfolio */
.portfolio-img,
.review-img {
  background: url("/img/portfolio-bg.jpg") no-repeat center;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.review-img {
  background: url("/img/reviews-bg.jpg") no-repeat center;
}
.portfolio-post-type-wedding {
  margin: 50px 0;
}
.portfolio.service-list {
  color: #000;
  padding-left: 10px;
}
.portfolio.service-list .service-list-item {
  margin: 12px 0;
  position: relative;
  padding-left: 20px;
}
.portfolio.service-list .service-list-item:after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #29c689;
  position: absolute;
  left: 5px;
  top: 6px;
}
.entry {
  padding-left: 80px;
}
.owl-carousel {
  position: absolute;
}
.owl-carousel:after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #ff5859;
  position: relative;
  bottom: -5px;
}
.owl-carousel .owl-nav {
  padding: 0 80px;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  background: url("/img/svg/arr-d.svg") no-repeat center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 10px 10px;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  background-size: 50%;
  color: #ff5859;
}
.owl-carousel .owl-nav .owl-prev {
  float: left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.owl-carousel .owl-nav .owl-next {
  float: right;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.owl-carousel .owl-dot {
  display: inline-block;
}
.owl-carousel .owl-dot span {
  width: 8px;
  height: 8px;
  border: 2px solid #ff5859;
  border-radius: 50%;
  display: block;
  margin: 0 7px;
}
.owl-carousel .owl-dot.active span {
  width: 10px;
  height: 10px;
  top: 1px;
  position: relative;
  background-color: #ff5859;
}
/* end portfolio */
/* start review */
.review-post {
  margin-bottom: 45px;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex .flex-item {
  float: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex .flex-order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -o-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.flex .flex-order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
}
.review-text p,
.planing-text p {
  line-height: 1.5;
  text-indent: 15px;
  position: relative;
  margin-bottom: 0;
}
.review-text p:before,
.planing-text p:before {
  display: inline-block;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #29c689;
  position: absolute;
  left: 2px;
  top: 8px;
}
.review-image {
  display: inline-block;
  position: relative;
}
.review-image:after,
.review-image:before {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5859;
  position: absolute;
  left: -23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.review-image:before {
  left: -44px;
}
.review-image .review-thumb {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border: 5px solid transparent;
  border-left: 4px solid #ff5859;
}
.review-image.left .review-thumb {
  border-left: 4px solid transparent;
  border-right: 4px solid #ff5859;
}
.review-image.left:after {
  right: -23px;
  left: initial;
}
.review-image.left:before {
  right: -44px;
  left: initial;
}
/* end review */
/* start planing */
.planing-bg {
  background: url("/img/planing-bg.jpg") no-repeat right center;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
}
.planing-content {
  padding: 0 12px;
}
.ann {
  position: relative;
  text-align: center;
}
.ann .ann-name {
  font-size: 38px;
  color: #ff5859;
}
.ann:before {
  display: inline-block;
  content: '';
  width: 70%;
  height: 2px;
  margin: 0 auto;
  background-color: #ff5859;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  top: -35px;
}
.ann:after {
  border-radius: 50%;
  background-color: #ff5859;
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  top: -20px;
}
section#form {
  border-top: 3px solid #ff5859;
}
section#form .form-title {
  margin: 10px 0 20px;
}
section#form .form-control {
  margin-bottom: 1.5rem;
}
section#form label {
  font-size: 1.5rem;
}
section#form input,
section#form textarea {
  outline: none;
  border: 1px solid #ff5859;
  padding: 10px 20px;
}
section#form .my-btn {
  padding: 20px 35px;
}
#footer {
  background-color: #ff5859;
  color: #fff;
  padding: 10px 0;
}
#footer .footer-content a,
#footer .footer-contacts a {
  color: #fff;
  font: 16px NeoSansProRegular, Tahoma, Arial, sans-serif;
}
#footer .footer-content a span,
#footer .footer-contacts a span {
  font-family: NeoSansProBold, Tahoma, Arial, sans-serif;
}
#footer .footer-content a:hover,
#footer .footer-contacts a:hover,
#footer .footer-content a:activ,
#footer .footer-contacts a:activ,
#footer .footer-content a:focus,
#footer .footer-contacts a:focus {
  color: #fff;
}
/* end planing */
